.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #f8f9fa;
  padding: 10px;
  position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.navbar-brand img{
  width: 40%;
}
#navbarNavDropdown{
  justify-content: space-between;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.nav-item {
  list-style: none;

  margin-left: 10px;
}

.nav-link {
  color: #555353;
  text-decoration: none;
  font-size: medium;
}
.nav-link:hover {
  font-size:x-large;
}

#navdirection {
  margin-left: auto;
}

  @media (max-width: 768px) {
    #navbarNavDropdown {
     display: flex;
    }
    button{
      margin-top: 5px;
    }
  }
  
  @media (max-width: 992) {
    #navbarNavDropdown {
      display: flex;
     }
  }
  