<div class="event-container">
    <div *ngFor="let event of events" class="event-box">
        <div class="first">
      <img [src]="event.image" alt="Event Image">
    </div>
    <div class="second">
        <h6>{{ event.title }}</h6>
      <p>City: {{ event.city }}</p>
      <p>Date: {{ event.date }}</p>
      <p>Price: {{ event.price }}</p>
      <!-- Add more event details as needed -->
      <button class="btn btn-primary" (click)=" bookEvent(event._id)">Book Now</button>
    </div>
      
    </div>
  </div>
  